@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0 1rem;
}

[contenteditable="true"]:empty:not(:focus):before {
  content: attr(data-ph);
  color: #b5b8bf;
  pointer-events: none;
}
